{% extends 'base.html.twig' %}
{% block body %}
    <div class="col-md-5 mx-auto">
        <form method="post">
            <div class="w-100 text-center">
                <input class="btn btn-primary" type="submit" value="Générer les matchs"/>
            </div>
        </form>
    </div>


{% endblock %}
