{% extends 'base.html.twig' %}

{% block body %}

    <div class="col-12 col-md-6 col-lg-5 mx-auto d-flex flex-column">
        <h1 class="mb-4 align-self-center">{{ championship.name }}</h1>

        {% if championship.began %}

            {% include 'championship/partial/championship-page-began.html.twig' %}

        {% else %}

            {% include 'championship/partial/championship-page-unbegin.html.twig' %}

        {% endif %}
    </div>

{% endblock %}