{% extends 'base.html.twig' %}

{% block body %}

    <div class="col-12 col-md-6 col-lg-5 mx-auto d-flex flex-column">
        <h1 class="mb-4 align-self-start">{{ championship.name }}</h1>

        <form class="d-flex flex-column mb-5" method="post">
            <div class="form-group">
                <label for="groupName">Nom de la poule :</label>
                <input class="form-control" name="groupName" id="groupName" type="text" placeholder="Entrez un nom de poule" value="{{ groupName }}">
            </div>

            <div class="d-flex justify-content-end">
                <button type="submit" class="btn btn-primary">Ajouter</button>
            </div>
        </form>

        <table class="table">
            <tr>
                <th>Nom de la poule</th>
                <th></th>
            </tr>

            {#{% for group in championship.groups %}

                <tr>
                    <td>{{ group.name }}</td>
                    <td><a href="#">Supprimer</a></td>
                </tr>

            {% endfor %}#}

        </table>

    </div>

{% endblock %}