{% extends 'base.html.twig' %}

{% block body %}

    <div class="col-12 col-md-6 col-lg-5 mx-auto d-flex flex-column">
        <h1 class="mb-4 align-self-start">Gérer les championnats</h1>

        <a class="btn btn-light align-self-end m-2" href="{{ url('championship_edit') }}">Ajouter un championnat</a>

        <ul class="list-group">

            {% if areChampionships %}

                {% for championship in championships %}

                    <li class="list-group-item m-2 rounded">
                        <a class="d-flex flex-column" href="">
                            <span class="align-self-start">Nom du championnat</span>
                            <span class="align-self-end">Jour 2/12</span>
                        </a>
                    </li>

                {% endfor %}

            {% else %}

                <li class="list-group-item text-center">Il n'y a aucun championnat</li>

            {% endif %}

        </ul>
    </div>


{% endblock %}
