<div class="d-flex flex-column">
    <a class="btn btn-light m-2" href="{{ url('championship_group', {championshipId: championship.id}) }}">Gestion des poules</a>
    <a class="btn btn-light m-2" href="{{ url('championship_group_composition', {championshipId: championship.id}) }}">Composition des poules</a>
    <a class="btn btn-light m-2" href="">Générer Calendrier</a>
    <a class="btn btn-light m-2" href="">Règles des points</a>
</div>

<form class="d-flex justify-content-end mt-5" method="post">
    <button class="btn btn-primary" type="submit">Démarrer le championnat</button>
</form>