<span class="championship-subtitle text-center m-2">Jour 2/12</span>

<nav class="btn-group mx-5" role="group" aria-label="">
    <a href="#" class="btn btn-primary">Résultat</a>
    <a href="#" class="btn btn-primary">Classement</a>
</nav>

<div class="d-flex flex-column border rounded my-3 pt-3 px-3">
    <span class="championship-subtitle mx-3">Résultats manquants</span>

    <ul class="list-group list-group-flush px-5 my-3">
        <li class="list-group-item text-center">
            Viriat - IUT Lyon1
        </li>
        <li class="list-group-item text-center">
            Ceyzériat - Ambérieu
        </li>
    </ul>

    <div class="d-flex justify-content-end">
        <a href="#" class="btn btn-secondary m-3">Alerter les équipes</a>
    </div>
</div>

<div class="d-flex flex-column border rounded my-3 p-3">
    <span class="championship-subtitle mx-3">Dates</span>

    <span class="my-2 text-center">Fin de la journée en cours : le 12/02/2019</span>
    <span class="my-2 text-center">Prochaine journée : le 19/02/2019</span>
</div>